@import url("https://fonts.googleapis.com/css?family=Poppins");

:root {
    --font-family: "Poppins", sans-serif;
    --background: #f4f6fc;
    --blue: #0a57a2;
    --black: #1f1f21;
    --green: #81a969;
    --red: #cf352e;
    --progress: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
    --blue-gradient: linear-gradient(to right, #0a57a2, #0a57a2);
    --gradient-animation-0: linear-gradient(90deg, #0cebeb, #20e3b2, #29ffc6);
    --gradient-animation-25: linear-gradient(180deg, #0cebeb, #20e3b2, #29ffc6);
    --gradient-animation-50: linear-gradient(270deg, #0cebeb, #20e3b2, #29ffc6);
    --gradient-animation-75: linear-gradient(360deg, #0cebeb, #20e3b2, #29ffc6);
    --gradient-animation-100: linear-gradient(
        450deg,
        #0cebeb,
        #20e3b2,
        #29ffc6
    );
}

@keyframes gradient-animation {
    0% {
        border-image-source: var(--gradient-animation-0);
    }
    25% {
        border-image-source: var(--gradient-animation-25);
    }
    50% {
        border-image-source: var(--gradient-animation-50);
    }
    75% {
        border-image-source: var(--gradient-animation-75);
    }
    100% {
        border-image-source: var(--gradient-animation-100);
    }
}
